tb/
ise/_xmsgs/
ise/iseconfig/
ise/isim/
ise/xst/
ise/_ngo/
ise/xlnx_auto_0_xdb/
*.html
*.cmd
*.xmsgs
*.cmd_log
*.bld
*.lso
*.ngc
*.ngd
*.ngr
*.prj
*.stx
*.syr
*.xst
*.map
*.mrp
*.ngm
*.xrpt
*.wdb
*.xml
*.ini
*.gise
*.ncd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*.csv